$top-border-style: 13px solid;

.metro-line {
  padding: 10px;
  width: 25%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .metro-line {
    width: 100%;
  }
}

.metro-line__name {
  margin: 0 0 10px;
}

.metro-line--yonge-university {
  border-top: $top-border-style $yonge-university-color;
}

.metro-line--bloor-danforth {
  border-top: $top-border-style $bloor-danforth-color;
}

.metro-line--scarborough {
  border-top: $top-border-style $scarborough-color;
}

.metro-line--sheppard {
  border-top: $top-border-style $sheppard-color;
}
