$top-border-style: 13px solid;

.metro-line {
  padding: 10px;
  width: 100%;
  float: left;
  overflow: scroll;
}

@media only screen and (min-width: 768px) {
  .metro-line {
    height: 100%;
    width: 25%;
  }
}

.metro-line__name {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.metro-line--yonge-university {
  border-top: $top-border-style $yonge-university-color;
}

.metro-line--bloor-danforth {
  border-top: $top-border-style $bloor-danforth-color;
}

.metro-line--scarborough {
  border-top: $top-border-style $scarborough-color;
}

.metro-line--sheppard {
  border-top: $top-border-style $sheppard-color;
}
